* {
    font-family: Montserrat;
    margin: 0;
}

.card {
    height: 640px;
    margin: 25px;
}

.card_content {
    padding: 50px;
    display: inline-flex;
    align-items:flex-start;
}
.card_image {
    float: left;
    margin-right: 50px;
    width: 400px;
    height: auto;
}

.card_title {
    font-size: 3rem;
}

.card_paragraph {
    color: #8e8e8e;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 3rem;
    margin-top: 30px;
}